.appLink {
    color: #61dafb;
  }
  
  .main {
    height: 150vh;
    color: rgb(59, 59, 59);
    padding: 140px 30% 0;
    font-size: 20px;
    z-index: 0;
    position: relative;
  }
  
  .list {
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
  }
  